.h1 {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid black;
}

.h2{
    text-align: center;
    color: brown;
    margin-top: 80px;
    margin-bottom: 30px;
}

.div{
    padding: 20px;
    margin-left: 390px;
}

.label {
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

.div2 {
    margin-left: 690px;

}

.button {
    background-color: rgba(233, 59, 59, 0.774);
    border: 2px;
}