.form {
    padding: 30px;

    margin-top: 70px;
    background-color: rgb(255, 217, 246);
}

.label {
   width: 150px;
    margin: 40px;
}

.list {
    display: flex;
    font-style: italic;
    margin: 20px;
    

}

.heading {
    margin: 90px;
    border: 2px solid black;
}
.list1 {
    display: flex;
    font-style: italic;
    margin: 30px;
    

}